<div class="card">
  <div class="card-body">
    <h5 class="card-title">Dashboard</h5>
    <h6 class="card-subtitle mb-2 text-muted">Visão de proponentes por classificação de acordo com tabela de <%= link_to "INSS", root_path %></h6>

    <div class="p-5" style="width:440px;height:440px">
      <canvas id="pie-chart-proponent"></canvas>
    </div>


    <h5 class="card-title">Planilha de proponentes</h5>
    <div class="table-div">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>