default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: postgres

development:
  <<: *default
  database: desafio_credishop_development

test:
  <<: *default
  database: desafio_credishop_test
