<% content_for :title, "Editing Discount Rate" %>

<h1 class="mb-4">Editing Discount Rate</h1>

<div class="card">
  <div class="card-body">
    <%= render "form", discount_rate: @discount_rate %>
  </div>
</div>

<div class="d-flex justify-content-between mt-3">
  <div>
    <%= link_to "Show this discount rate", @discount_rate, class: "btn btn-info btn-sm" %>
  </div>
  <div>
    <%= link_to "Back to Discount Rates", discount_rates_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>
